{{#extends 'base'}}
{{#block 'content'}}
<h1>Posters</h1>
    <div class="container">
        <a href="posters/create" class="btn btn-primary">Create</a>
    </div>
    <div>
        <form method="GET">
            {{{form}}}
            <input type="submit" class="btn btn-primary mt-3" value="Search"/>
        </form>
    </div>
<ul class="list-group-item">
    {{#each posters}}
        <li class="list-group-item">
            <h1>{{this.name}}</h1>
            <h2>Cost: {{divide this.cost 100}}</h2>
            <div>Category: {{this.category.name}}</div>
            <div>{{this.description}}</div>
            <img src="{{this.image_url}}" style="height:100px">
            <div>
                <label>Badge: </label>
                {{#each this.tags}}
                    <span class="badge bg-primary">{{this.name}}</span>            
                {{/each}}
            </div>
            <a href="posters/update/{{this.id}}" class="btn btn-primary">Edit</a>
            <a href ="posters/delete/{{this.id}}" class="btn btn-danger">Delete</a>
            <div>
                <a href="/cart/{{this.id}}/add" class="btn btn-primary">Add To Cart</a>
            </div>

        </li>
    {{/each}}
</ul>
{{/block}}
{{/extends}}